extends layout
block content
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.1/fuse.min.js"></script>
  <script src="https://screenfeedcontent.blob.core.windows.net/html/airports.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    style.

      .control-label {
        display: block;
      }

      .autocomplete-wrapper {
        position: relative;
        display:inline-block;
        input {
          width: 100%;
        }
      }
      .autocomplete-results {
        position: absolute;
        background: white;
        z-index: 1;
        top: 100%;
        left: 0;
        font-size: 13px;
        border: solid 1px #ddd;
        border-top-width: 0;
        border-bottom-color: #ccc;
        box-shadow: 
          0 5px 10px rgba(0, 0, 0, 0.2);
      }

      .autocomplete-result {
        padding: 12px 15px;
        border-bottom: solid 1px #eee;
        cursor: pointer;
      }

      .autocomplete-result:last-child {
        border-bottom-width: 0;
      }

      .autocomplete-location {
        opacity: .8;
        font-size: smaller;
      }

          $iPlus: 0;
          @for $i from 0 through 7 {
            $iPlus: $i + 1;
            .autocomplete-results[data-highlight='#{$i}'] > :nth-child(#{$iPlus}) {
              color: white;
              background: #26C9FF;
              border-bottom-color: #26C9FF;
              outline: solid 1px darken(#26C9FF, 10%);
            }
          }

      .table td{
        vertical-align:middle;
        text-align:center;
        }
    head-search(id="mainDiv" style="position:relative;top:0px;left:0px;margin-bottom:2px;padding:50px;width: 100vw;margin-left:calc(-50vw + 50%);height:calc(100vh - 180px);background-image:url('img/bg1.jpg');background-size: cover; background-repeat:   no-repeat;background-position: center center;     display: flex;justify-content: center;align-items: center;")
      div(style = "text-align:center;color:white;    text-shadow: 4px 4px 4px #000000;width:50%;")
            h4 Find Your Way 
            h1 Let AI Find Travel Steals For You
            button.btn.btn-primary
                |Learn More
            button.btn.btn-primary(style="margin-left:10px;")
                |Find Me Flights
      div(style = "text-align:center;color:white;    text-shadow: 4px 4px 4px #000000;width:50%;height:100%;")
            img(src="img/flightbox.png" style =" height:100%;")
    head-search(id="mainDiv" style="position:relative;top:0px;left:0px;margin-bottom:2px;padding-right:50px;padding-left:50px;padding:20px;width: 100vw;margin-left:calc(-50vw + 50%);background-color:#007bff;background-size: cover; background-repeat:   no-repeat;background-position: center center; text-align:center;    display: inline-grid;justify-content: center;")
      h2(style="font-family:'walkway_semiboldregular';color:white;") DARE TO COMPARE AGAINST:
      div(style="  display: inline-block;margin: 0px auto;")
        <img src="/img/logos/expedia.png" height="50px" alt="Expedia logo vector" />
        <img src="/img/logos/kayak.png" height="30px" alt="Expedia logo vector" />
        <img src="/img/logos/google.png" height="40px" alt="Expedia logo vector" />
        <img src="/img/logos/priceline.png" height="35px" alt="Expedia logo vector" />
        <img src="/img/logos/skyscanner.png" height="35px" alt="Expedia logo vector" />

    head-search(id="mainDiv" style="position:relative;top:0px;left:0px;margin-bottom:2px;padding:50px;width: 100vw;margin-left:calc(-50vw + 50%);background-size: cover; background-repeat:   no-repeat;background-position: center center;     display: flex;justify-content: center;align-items: center;")
      h2(style="font-family:'walkway_black-webfont';text-align:center;margin-bottom:-10px;")    Save Over <b> 80% </b> by having our computing servers search 24/7 for your flights while you are asleep! 
    h1(style="font-family:'walkway_black-webfont';color:#007bff;text-align:center;margin-bottom:-10px;")    How it Works 
    head-search(id="mainDiv" style="position:relative;top:0px;left:0px;margin-bottom:2px;padding:50px;width: 100vw;margin-left:calc(-50vw + 50%);background-size: cover; background-repeat:   no-repeat;background-position: center center;     display: flex;justify-content: center;align-items: center;")
      div(style="text-align:center;padding-left: 20px;padding-right: 20px;width:33%;")
          <img src="/img/symbols/cpu2.png" height="100px" alt="Expedia logo vector" />
          h5 1. Our Algorithms Find Flights
          p Our servers are searching for your flights every second of the day
      div(style="text-align:center;padding-left: 20px;padding-right: 20px;width:33%;")
          <img src="/img/symbols/email.png" height="100px" alt="Expedia logo vector" />
          h5 2. We send you the deals
          p Once we find a great deal, our servers automatically email you 
      div(style="text-align:center;padding-left: 00px;padding-right: 20px;width:33%;")
          <img src="/img/symbols/vacation.png" height="100px" alt="Expedia logo vector" />
          h5 3. You Take Your Dream Vacation
          p Take your dream vacation for a fraction of the price

    head-search(id="mainDiv" style="position:relative;top:0px;left:0px;margin-bottom:2px;padding:50px;width: 100vw;margin-left:calc(-50vw + 50%);height:calc(100vh - 100px);background-image:url('img/bg0.jpg');background-size: cover; background-repeat:   no-repeat;background-position: center center;     display: flex;justify-content: center;align-items: center;")
      .search(style="background:rgba(23,42,54,0.8);display: inline-block; border-radius: 50px; width:60%;   padding: 25px;  justify-content: center;margin: 0 auto;margin-top: 2%;text-align:center;color:white;    text-shadow: 4px 4px 4px #000000;")
            h1 Why Fly WokeWays?
            h4 WokeWays is <i>the</i> cheapest way to fly. Made by a broke college kid who wanted to fly for cheap, WokeWays checks <i>your</i> flights every 30 minutes for the best deals. Competitors only check for cheaper fair whenever someone else does the same search—But who knows when that'll be!



