extends layout
block content
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
  .head-search(style="position:relative;top:0px;left:0px;margin-bottom:10px;padding-top:50px;width: 100vw;margin-left:calc(-50vw + 50%);background-image:url('img/sb2 (1).png');background-size:     cover; background-repeat:   no-repeat;background-position: center center;   display: flex;justify-content: center;align-items: center; ")
    .search(style="background:rgba(0, 0, 0, .4);color:white;display: inline-block; border-radius: 25px;    padding: 15px;margin-top:10px;margin-bottom:5px; ")      
      form( class="form-inline")
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group.row
          label(class='col-md-2 col-form-label font-weight-bold', for='From') From
          .col-md-8
            input.form-control( type="text" name="r16R71!" autocomplete="false" )
        .form-group.row
          label(class='col-md-2 col-form-label font-weight-bold', for='To' ) To
          .col-md-8
            input.form-control(type='text', name='r16R71', id='name', autocomplete="false")
        .form-group.row
          label(class='col-md-2 col-form-label font-weight-bold', for='Depart') Depart
          .col-md-8
            input.form-control(type='text', name='r16R71', id="depart", autocomplete="false")
        .form-group.row
          label(class='col-md-2 col-form-label font-weight-bold', for='Return') Return
          .col-md-8
            input.form-control(type='text', name='r16R71', id='return', autocomplete="false")
        .form-group
          offset-md-2.col-md-8.p-1
            button.btn.btn-primary(id="showmapbutton" onclick="showmap()")
              i.fas.fa-globe-americas
              | Use Map 
        .form-group
          offset-md-2.col-md-8.p-1
            button.btn.btn-primary
              i.fas.fa-plane
              | Go 
  
  .card(style='background-color: #000') 
  center <div id="map"  style="height:400px;margin-top: 00px;:both;"></div>

  script.
      $("#depart").attr("placeholder", moment().format('Do MMMM YYYY')).val("").focus().blur();
      $("#return").attr("placeholder", moment().day(+7).format('Do MMMM YYYY')).val("").focus().blur();
      var pickerDepart = new Pikaday({
          field: document.getElementById('depart'),
          format: 'D MMM YYYY',
          placeholder: "fdjnf",
          onSelect: function() {
              console.log(this.getMoment().format('Do MMMM YYYY'));
          }
      });
      var pickerReturn = new Pikaday({
          field: document.getElementById('return'),
          format: 'D MMM YYYY',
          onSelect: function() {
              console.log(this.getMoment().format('Do MMMM YYYY'));
          }
      });
    $(document).ready(function() { 
      $( "#trips" ).hide();
      $( "#map" ).hide();

     });
     function showmap(){
      $( "#map" ).show();
     }
      var rectangle;
      var rectangle2;
      var map;
      var infoWindow;
      var infoWindow2;

      function initMap() {
        var bounds = {
          north: 28.4524,
          south: 26.043,
          east:   -79.606,
          west:  -81.99
        };
        var bounds2 = {
          north: 46.8000,
          south: 35.44875340,
          east:  -100.54058,
          west:  -116.20466
        };

        // Define the rectangle and set its editable property to true.
        // Define an info window on the map.
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 38.610988647725, lng: -92.4499},
          zoom: 4
        });

        // Define the rectangle and set its editable property to true.
        rectangle = new google.maps.Rectangle({
          strokeColor: '#2365ff',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: '#2365ff',
          fillOpacity: 0.35,
          bounds: bounds,
          editable: true,
          draggable: true
        });
        rectangle2 = new google.maps.Rectangle({
          strokeColor: '#FF0000',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: '#FF0000',
          fillOpacity: 0.35,
          bounds: bounds2,
          editable: true,
          draggable: true
        });

        rectangle.setMap(map);

        // Add an event listener on the rectangle.
        rectangle.addListener('bounds_changed', showNewRect);
        rectangle2.setMap(map);

        // Add an event listener on the rectangle.
        rectangle2.addListener('bounds_changed', showNewRect2);
        // Define an info window on the map.
        infoWindow = new google.maps.InfoWindow();
        infoWindow2 = new google.maps.InfoWindow();
      }
      // Show the new coordinates for the rectangle in an info window.

      /** @this {google.maps.Rectangle} */
      function showNewRect(event) {
        var ne = rectangle.getBounds().getNorthEast();
        var sw = rectangle.getBounds().getSouthWest();

        var contentString = '<b>Rectangle moved.</b><br>' +
            'New north-east corner: ' + ne.lat() + ', ' + ne.lng() + '<br>' +
            'New south-west corner: ' + sw.lat() + ', ' + sw.lng();

        // Set the info window's content and position.
        infoWindow.setContent(contentString);
        infoWindow.setPosition(ne);

        infoWindow.open(map);
      }
      function showNewRect2(event) {
        var ne2 = rectangle2.getBounds().getNorthEast();
        var sw2 = rectangle2.getBounds().getSouthWest();

        var contentString2 = '<b>Rectangle moved.</b><br>' +
            'New north-east corner: ' + ne2.lat() + ', ' + ne2.lng() + '<br>' +
            'New south-west corner: ' + sw2.lat() + ', ' + sw2.lng();
        // Set the info window's content and position.
        infoWindow2.setContent(contentString2);
        infoWindow2.setPosition(ne2);

        infoWindow2.open(map);
      }

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuehQ2KPVZ3fVpvhzyVpEYI9QntDN5DOE&callback=initMap">
  </script>
  .offset-md-2.col-md-8.p-1
  center
    //form(method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
    .form-group 
    button.btn.btn-primary(onclick='showTrips()')
        i.fas.fa-plane
          |  Find Trips

  #trips(style = "height:800px;margin-top:40px;")
    h2 
      center Loading Trips
    <div class="sk-wandering-cubes" id="loading">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
    </div>
    <pre></pre>
    script.
      function showTrips(){
        $( "#trips" ).show();
        $('html, body').animate({
          scrollTop: $("#trips").offset().top- 80
        }, 1000);
        loadTrips();
      }
      function loadTrips(){
          $.ajax({
            url: 'https://api.sandbox.amadeus.com/v1.2/flights/low-fare-search?apikey=wMLyLilNGM38UGr6mtUxP8nhDrsc3atE&origin=MIA&destination=LON&departure_date=2018-12-25&number_of_results=5',
            type: "GET",
            dataType: "jsonp",
            success: function (data) {
                $( "#loading" ).hide();
                $('pre').html(JSON.stringify(data, undefined, 2));
                //alert(data);
           }
        });

      }


//-  
  .row
    .col-md-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-raised(href='#', role='button') View details »